/* Place CSS styles here */

.navbar {
    background-color: #768f88;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
     display: inline-flex;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

/* responsive bar */
@media (max-width: 768px) {
    .navbar ul {
    flex-direction: column;
    display: none;
    }
    .navbar .toggle-button {
    display: block;
    cursor: pointer;
    }
    .navbar ul.active {
    display: block;
    }
}