/* Place CSS styles here */

/* Navbar */
.navbar {
    background-color: #768f88;
    color: black;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 800;
    font-size: large;
    padding: 10px;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.navbar li {
    display: inline-flex;
}
  
.navbar a {
    text-decoration: underline 20%;
    color: black;
    padding: 10px;
}

.navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #a6b38b;
    color: rgb(235, 240, 230);
    border-radius: 30%;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      display: none;
    }
    
    .navbar .toggle-button {
      display: block;
      cursor: pointer;
    }
    
    .navbar ul.active {
      display: block;
    }
}
  
.toggle-button {
    display: none;
}
  
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
}

/* homepage */
body {
    background-color: #768f88;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 800;
    color: black;
}

.homepage-pic img {
    width: 110%;
    border-radius: 8px;
    align-items: center;
    height: 210px;
}

.home-name {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: #334d47;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 10px;
}

.home-description {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-right: 30px;
    margin-left: 10px;
}

/* about page */
.about-pic img{
    border-style: none;
    height: 600px;
    margin-left: 10px; 
    top: 190px;
    position: absolute;
    display: flex;
}

.about-me {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 40px;
    font-weight: 800;
    background-color: #334d47;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

.about-description {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    color: white;
    position: absolute;
    top: 230px;
    left: 400px;
}
   

/* contact form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    margin: 0;
    background-color: #3e4d33;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #768f88;
    color: black;
}
  
.container {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: rgb(229, 221, 211);
    padding: 20px;
}

.h3 {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 800;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    background-color: #334d47;
    border-radius: 10px;
    padding: 0.5px;
    text-align: center;
}

.contact-talk {
    color: white;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    text-align: center;
}

.email-link {
    color: white;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.email-link a {
    color: #ffffff;
}

/* thank you page */ 
.thank-you-page {
    text-align: center;
    padding: 12px 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

/* portfolio page */

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    color: white;
    font-weight: 300;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* expanding all those damn images */
.project-1 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-1 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-1:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

.project-2 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-2 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-2:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

.project-3 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-3 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-3:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

.project-4 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-4 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-4:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

.project-5 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-5 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-5:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

.project-6 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-6 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-6:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

.project-7 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-7 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-7:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}


.project-8 {
    text-align: center;
    margin: 20px;
    position: relative; 
}

.expandable-image-8 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.10s ease;
}

.expandable-image-8:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1000; 
    background: #485853;
}

